* {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(to bottom left, rgb(207, 243, 255), rgb(49, 101, 144));
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    pointer-events: none;
}


.section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

.about-section {
    display: flex;
    height: 100vh;
    position: relative;
    flex-direction: column;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    font-size: 7vmin;
    padding: 10%;
    width: 50vw;
}

.about-section p {
    font-size: 3vmin;
    margin-top: 3vmin;
}

.about-section a {
    color: rgb(2, 71, 117);
    text-decoration: none;
    font-weight: bold;
}

.section:nth-child(odd) {
    justify-content: flex-end;
}

@media (max-width: 1000px) {
    .about-section {
        width: 70vw;
    }
    .about-section p {
        font-size: 16px;
    }
  }